openai
langchain
langchain_openai
langchain_experimental
langchainhub
#pinecone-client
python-dotenv
qrcode
#tiktoken
#docx2txt
#pypdf
#requests
#numpy
pandas
python-tabulate
#wikipedia
#streamlit
#streamlit_chat
#pexpect